<app-container>

    <!-- title -->
    <nc-card class="p-4 mb-6">
        <h1 class="page-title text-left">Add Source</h1>
        <p class="page-subtitle text-left">Upload a new source</p>
    </nc-card>


    <div class="form-and-upload-wrap flex gap-6">


        <!-- progress -->
        <nc-card class="p-4 flex-4">
            <h3 class="section-title-light mb-2">Upload Progress</h3>
            <div class="text flex align-center gap-2 mb-1">
                @if (sourceType !== '') {
                    <nc-check-icon [size]="20"></nc-check-icon>
                }
                <span>Please select a source type</span>
            </div>

            @if (sourceType !== '') {
                <div class="text flex align-center gap-2 mb-1">
                    @if (submitting) {<nc-check-icon [size]="20"></nc-check-icon>}
                    <span>
                        Please fill out the source details and submit the form
                    </span>
                </div>
            }
            @for (message of uploadService.messages | async; track message) {
                <div class="text flex align-center gap-2 mb-1">
                    <nc-check-icon [size]="20"></nc-check-icon>
                    <span>{{message}}</span>
                </div>
            }
            @if (submitting && !uploadComplete) {
                <nc-button variant="red" class="mt-4 mr-1" (click)="onAbort()">Abort</nc-button>
            }
            @if (uploadComplete) {
                <a routerLink="/sources">
                    <nc-button variant="dark" class="mt-4 mr-1">Go to Sources</nc-button>
                </a>
            }
            @if (!submitting && !uploadComplete) {
                <a routerLink="/sources">
                    <nc-button class="mt-4 mr-1">Back to Sources</nc-button>
                </a>
            }
        </nc-card>


        <!-- source details form -->
        <nc-card class="p-4 flex-2">
            <form 
                [id]="formId" 
                class="flex flex-col" 
                (submit)="onPdfSubmit($event)"
                [style]="{
                    'pointer-events': submitting ? 'none' : 'auto', 
                    'opacity': submitting ? '0.6' : '1'
                }"
            >
                <h3 class="section-title-light mb-4">Source Details</h3>
                <!-- source type selection -->
                <span>
                    <label for="type" class="mb-1">Type (required)</label>
                    <select id="type" name="type" class="mb-4 w-100" (change)="onTypeChange($event)">
                        <option value="" disabled selected>Select source type</option>
                        <option value="pdf">PDF Document</option>
                        <option value="doc" disabled>Word Document</option>
                        <option value="txt" disabled>Text File</option>
                        <option value="web" disabled>Web Page</option>
                        <option value="image" disabled>Image</option>
                    </select>
                </span>

                <!-- pdf -->
                @if (sourceType === 'pdf') {
                    <span>
                        <label for="friendlyName" class="mb-1">Friendly Name (required)</label>
                        <input id="friendlyName" name="friendlyName" type="text" placeholder="Short descriptive name" class="mb-4 w-100" />
                    </span>
                    <span>
                        <label for="title" class="mb-1">Title</label>
                        <input id="title" name="title" type="text" placeholder="Document title" class="mb-4 w-100" />
                    </span>
                    <span>
                        <label for="author" class="mb-1">Author</label>
                        <input id="author" name="author" type="text" placeholder="Document author" class="mb-4 w-100" />
                    </span>

                    <span>
                        <label for="ISBN" class="mb-1">ISBN</label>
                        <input id="ISBN" name="ISBN" type="text" placeholder="Document ISBN" class="mb-4 w-100" />
                    </span>
                    <span>
                        <label for="description" class="mb-1">Description</label>
                        <textarea id="description" name="description" placeholder="Brief description of the document" class="mb-4 w-100"></textarea>
                    </span>
                    <span>
                        <label for="file" class="mb-1">Source PDF (required)</label>
                        <nc-file-upload id="file" name="file" accept="application/pdf" class="mb-4 w-100" />
                    </span>
                    <nc-button type="submit" class="w-100">Upload Source</nc-button>
                }
            </form>
        </nc-card>
    </div>


</app-container>