<app-container>

    <!-- title -->
    <nc-card class="p-4 mb-6">
        <h1 class="page-title text-left">Sources</h1>
        <p class="page-subtitle text-left">List of uploaded sources</p>
    </nc-card>

    <nc-card class="p-4">
        <h3 class="section-title-light mb-4">All uploaded sources</h3>

        <!-- add source button -->
        <a routerLink="/sources/upload" [style]="{display: 'block', width: 'fit-content'}">
            <nc-button class="mb-2">
                <span class="flex flex-center">
                    <nc-plus-icon [size]="20" class="mr-1"></nc-plus-icon>
                    Add Source
                </span>
            </nc-button>
        </a>

        <!-- sources table -->
        <nc-table
            [data]="(sources$ | async) ?? []"
            [columnsConfig]="columnsConfig"
        ></nc-table>


        <!-- update source modal -->
        <nc-modal
            #updateSourceModal
            class="w-100"
            [style]="{maxWidth: '400px', minWidth: '260px', width: '100%'}"
            [onClose]="onUpdateSourceModalClose.bind(this)"
            [onConfirm]="onSourceEdit.bind(this)"
        >
            <form
                slot="modal-content"
                [id]="editFormId"
                class="flex flex-col"
                [style]="{
                    'pointer-events': editFormSubmitting ? 'none' : 'auto', 
                    'opacity': editFormSubmitting ? '0.6' : '1'
                }"
            >
                <h3 class="section-title-light">Source Details</h3>
                <p class="section-subtitle-light mb-6">Edit the details of the selected source</p>
                <!-- source type selection -->
                <span>
                    <label for="type" class="mb-1">Type (required)</label>
                    <select id="type" name="type" class="mb-4 w-100" [(ngModel)]="sourceType" (change)="onTypeChange($event)">
                        <option value="" disabled>Select source type</option>
                        <option value="pdf" selected>PDF Document</option>
                        <option value="doc" disabled>Word Document</option>
                        <option value="txt" disabled>Text File</option>
                        <option value="web" disabled>Web Page</option>
                        <option value="image" disabled>Image</option>
                    </select>
                </span>

                <!-- pdf -->
                @if (sourceType === 'pdf') {
                    <span>
                        <label for="friendlyName" class="mb-1">Friendly Name (required)</label>
                        <input id="friendlyName" name="friendlyName" type="text" placeholder="Short descriptive name" class="mb-4 w-100" [defaultValue]="sourceToEdit?.friendlyName ?? ''" />
                    </span>
                    <span>
                        <label for="title" class="mb-1">Title</label>
                        <input id="title" name="title" type="text" placeholder="Document title" class="mb-4 w-100" [defaultValue]="sourceToEdit?.title ?? ''" />
                    </span>
                    <span>
                        <label for="author" class="mb-1">Author</label>
                        <input id="author" name="author" type="text" placeholder="Document author" class="mb-4 w-100" [defaultValue]="sourceToEdit?.author ?? ''" />
                    </span>

                    <span>
                        <label for="ISBN" class="mb-1">ISBN</label>
                        <input id="ISBN" name="ISBN" type="text" placeholder="Document ISBN" class="mb-4 w-100" [defaultValue]="sourceToEdit?.isbn ?? ''" />
                    </span>
                    <span>
                        <label for="description" class="mb-1">Description</label>
                        <textarea id="description" name="description" placeholder="Brief description of the document" class="mb-4 w-100" [defaultValue]="sourceToEdit?.description ?? ''"></textarea>
                    </span>
                }
            </form>
        </nc-modal>


        <!-- TEMPLATES -->
        <!-- actions column template (table row with Edit and Delete buttons) -->
        <ng-template #actionsTemplate let-row>
            <div class="flex flex-center gap-1">
                <nc-button (click)="openUpdateSourceModal(row)" size="small">Update</nc-button>
                <nc-button variant="red" (click)="deleteSource(row.id)" size="small">Delete</nc-button>
            </div>
        </ng-template>



    </nc-card>

</app-container>
