@media (max-width: 1100px) {
    .sample-pages-and-preview-wrap {
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .pdf-zoom-controls {
        display: none;
    }
}

@media (max-width: 400px) {
    .pdf-goto-label {
        display: none;
    }
}
