<app-container>
    <!-- title -->
    <nc-card class="p-4 mb-6">
        <h1 class="page-title text-left">Extraction Settings</h1>
        <p class="page-subtitle text-left">Fine-tune data extraction then start the process to extract data from the source.</p>
    </nc-card>

    <!-- source not found -->
    @if (sourceNotFound) {
        <p>The source was not found</p>
    }

    @if (source?.type === 'pdf' && sourceUrl) {

        <app-pdf-preview
            [sourceUrl]="sourceUrl"
            (totalPagesLoaded)="totalPages = $event"
        />

        <nc-card class="p-4">
            <div class="extraction-section mb-6">

                <!-- left column -->
                <div class="extraction-left-col">
                    <div class="extract-pages-section">
                        <app-sample-pages-form
                            [sourceUrl]="sourceUrl"
                            [totalPages]="totalPages"
                            (sampleTextChange)="onSampleTextChange($event)"
                            (sampleTextLoadingChange)="onSampleTextLoadingChange($event)"
                        />
                    </div>

                    @if (sampleText) {
                        <div id="describe-structure-section" class="describe-structure-section">
                            <app-describe-structure-form
                                [sampleText]="sampleText"
                                [sourceId]="source!.id"
                                [totalPages]="totalPages"
                            />
                        </div>
                    }
                </div>

                <!-- right column -->
                <app-sample-text-output
                    class="sample-text-output"
                    [sampleText]="sampleText"
                    [loading]="sampleTextLoading"
                />
            </div>

            @if ((extractionService.extractSampleRes$ | async) && sampleText) {
                <app-sample-extraction-output />
                <app-init-extraction-form [sourceId]="source!.id" />
            }
        </nc-card>
    }
</app-container>
